# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
streamlit==1.36.0
joblib==1.4.2
pandas==2.2.1
nltk==3.8.1
scikit-learn==1.4.2
matplotlib==3.8.4=pypi_0
matplotlib-base==3.8.4=py312hc7c4135_0
matplotlib-inline==0.1.6=py312haa95532_0
seaborn==0.13.2
textblob==0.18.0.post0



